.body{

    margin: 0p;

}
.top{
    background-color: #013a26;
    padding: 150px;
    text-align: left;
}
.middle{
    padding-top: 15px;
    background-color: #d7e2d9;
    text-align: center;
    padding-bottom: 15px;
}
.helloFont{
    text-align: center;
    font-family:'Nunito'
    
}
.bottom{
    color: rgb(255, 255, 255);
    padding: .2px;
    background-color: #184b1b;
    text-align: center;
    font-family:'Righteous'
}
h1{
    color: rgb(255, 255, 255);
    font-size: 400%;
    padding-left: 10px;
    margin-top: -40px;
    margin-right: 90px;
    font-family: 'Space Grotesk';
    text-align: left;
}
h2{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 150%;
}
h3{
    font-family: 'Fira Sans';
    font-size: 150%;
}
a:link{
    color: #4d8c57 ;
    text-decoration: none;
}
a:visited {
    color: #7e06ff;
    text-decoration: none;
    }
    
a:hover {
    color: rgb(240, 25, 111);
    text-decoration: none;
}

.line{
    border-top: 3px dashed #545e03;
    width: 100%;
}
.line2{
    border-top: 3px dotted #545e03;
}
.headshot{
    float: left;
    padding: -10px;
    width: 250px;
    border-radius: 40px;
    margin-right: 50px;
    margin-top: -50px;
}
.yellow{
    height: 73.5px;
    position: absolute;
    right: 150px;
}
.red{
    height: 75px;
    position: absolute;
    right: 250px;
}
.blue{
    height: 75px;
    position: absolute;
    right: 50px;
}
.language{
    width: 50%;
    margin: auto;
}
.leftColumn{
    float: left;
    margin-left: 10%;
}
.rightColumn{
    float: left;
    margin-left: 23%;
}
.getButton {
    text-align: center;
}
button{
    background-color: #0c432e;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Monserrat";
}
.contact {
    color:#013a26;
    padding: 50px;
    background-color: #d7e2d9;
}
.address{
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
}
.container{
    padding: 40px ;
    font-size: 25px;
    text-align: center;
}
.card {
    position: absolute;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.902);
    background-color: rgb(253, 253, 253);
    height: 275px;
    width: 250px;
    left: 40%; 
    top: 50%;
    padding-bottom: 50px;
    padding-right: 140px;
}
input[type="text"] {

    margin: 20px;
    width: 190px;
    height: 30px;
    background-color: #ffffff;
}

input[type="email"] {

    margin: 5px;
    width: 300px;
    height: 25px;
    background-color: #ffffff;
}

textarea {
    margin: 5px;
    width: 300px;
    height: 25px;
    background-color: #ffffff;
    border: 2px inset black;
}
.expPic{
    border-radius:15px;
}
.skillPic{
    border-radius:15px;
}
.langPic{
    border-radius:15px;
}
.cSakeef{
    font-family: "Montserrat";
    text-align: center;
}



  